<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>KeyguardDistribution</key>
    <string>$(KEYGUARD_DISTRIBUTION)</string>
    <key>KeyguardAppGroupIdentifier</key>
    <string>$(KEYGUARD_APP_GROUP_ID)</string>
</dict>
</plist>
