[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Keyguard
Comment=Password manager
Exec=Keyguard
Terminal=false
Type=Application
Icon=com.artemchep.keyguard
Categories=Utility;
