name: "✔️ Check Jetifier"

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  check-jetifier:
    name: Check Jetifier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: ./.github/actions/setup_gradle
      - name: "Check Jetifier"
        run: ./gradlew checkJetifier
