name: "✔️ Check Licenses"

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - '**/*.gradle*'
      - 'gradle/**'
  pull_request:
    branches:
      - master
    paths:
      - '**/*.gradle*'
      - 'gradle/**'

jobs:
  check-licenses:
    name: Check Licenses
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup_gradle
      - name: "Check licenses"
        run: ./gradlew licensee
