name: "✔️ Check Tests"

on:
  push:
    branches:
      - master

jobs:
  check-android-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup_gradle
      - name: "Enable KVM group perms"
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - name: "Prepare env"
        run: |
          echo ${{ secrets.GOOGLE_SERVICES }} | base64 -d | zcat >> androidApp/google-services.json
      - uses: ./.github/actions/build_android_licenses
        with:
          build-flavor: "PlayStore"
      - name: "Run unit tests"
        run: ./gradlew :common:desktopTest
      - name: "Run integration tests"
        id: baseline-profiles
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 30
          arch: x86_64
          disable-animations: true
          disk-size: 4G
          script: |
            adb root
            ./gradlew :androidApp:connectedPlayStoreDebugAndroidTest ; RESULT=$?
            mkdir -p artifacts/
            adb pull /storage/emulated/0/Movies/ artifactsScreenRecording/ || true
            exit $RESULT
      - name: 'Upload screen recordings'
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: baselineprofile-screen-recordings
          path: |
            artifactsScreenRecording/
          retention-days: 7
      - name: 'Upload logs'
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: baselineprofile-logs
          path: |
            androidApp/outputs/androidTest-results/
          retention-days: 7
