name: "✔️ Check Tests"

on:
  workflow_dispatch:
    inputs:
      cache-write-only:
        description: 'Cache write only'
        required: false
        default: false
        type: boolean
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  check-desktop-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: ./.github/actions/setup_gradle
        with:
          cache-write-only: ${{ inputs.cache-write-only || false }}
      - name: "Run unit tests"
        run: ./gradlew :common:desktopTest
  check-android-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        api-level:
          - 30
          - 26
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: ./.github/actions/setup_gradle
        with:
          cache-write-only: ${{ inputs.cache-write-only || false }}
      - uses: ./.github/actions/prepare_kvm
      - uses: ./.github/actions/prepare_disk_space
      - name: "Prepare env"
        run: |
          echo ${{ vars.GOOGLE_SERVICES }} | base64 -d | zcat >> androidApp/google-services.json
      - uses: ./.github/actions/build_android_licenses
        with:
          build-flavor: "PlayStore"
      - name: "Run integration tests"
        id: baseline-profiles
        uses: reactivecircus/android-emulator-runner@b530d96654c385303d652368551fb075bc2f0b6b
        with:
          api-level: ${{ matrix.api-level }}
          arch: x86_64
          disable-animations: true
          disk-size: 4G
          script: |
            adb root
            ./gradlew :androidApp:connectedPlayStoreDebugAndroidTest ; RESULT=$?
            mkdir -p artifacts/
            adb pull /storage/emulated/0/Movies/ artifactsScreenRecording/ || true
            exit $RESULT
      - name: 'Upload screen recordings'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        if: always()
        with:
          name: android-${{ matrix.api-level }}-screen-recordings
          path: |
            artifactsScreenRecording/
          retention-days: 7
      - name: 'Upload logs'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        if: always()
        with:
          name: android-${{ matrix.api-level }}-logs
          path: |
            androidApp/outputs/androidTest-results/
          retention-days: 7
