name: "✔️ Check Jetifier"

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  check-jetifier:
    name: Check Jetifier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: ./.github/actions/setup_gradle
      - name: "Check Jetifier"
        run: ./gradlew checkJetifier
