name: "✔️ Check Licenses"

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - '**/*.gradle*'
      - 'gradle/**'
  pull_request:
    branches:
      - master
    paths:
      - '**/*.gradle*'
      - 'gradle/**'

jobs:
  check-licenses:
    name: Check Licenses
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: "Set up JDK 21"
        id: setup-java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: "Setup Gradle"
        uses: gradle/actions/setup-gradle@v4
        env:
          JAVA_HOME: ${{ steps.setup-java.outputs.path }}
      - name: "Check licenses"
        run: ./gradlew licensee
