name: "✔️ Check Lint"

on:
  workflow_dispatch:
    inputs:
      cache-write-only:
        description: 'Cache write only'
        required: false
        default: false
        type: boolean
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  check-lint:
    name: Check Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup_gradle
        with:
          cache-write-only: ${{ inputs.cache-write-only || false }}
      - name: "Prepare env"
        run: |
          echo ${{ vars.GOOGLE_SERVICES }} | base64 -d | zcat >> androidApp/google-services.json
          echo "" >> gradle.properties
      - name: "Check lint"
        run: ./gradlew lint
      - name: "Create lint summary"
        if: always()
        shell: bash
        run: |
          ERRORS=$(python './scripts/reports/collect_reports.py' --type android_lint)
          echo '### Android Lint report' >> $GITHUB_STEP_SUMMARY
          if [ -z "$ERRORS" ]; then 
            echo '✅ No Android Lint errors found.' >> $GITHUB_STEP_SUMMARY
          else
            echo '❌ Some Android Lint errors found:' >> $GITHUB_STEP_SUMMARY
            echo '```' >> $GITHUB_STEP_SUMMARY
            echo "$ERRORS" >> $GITHUB_STEP_SUMMARY
            echo '```' >> $GITHUB_STEP_SUMMARY
          fi
          echo '' >> $GITHUB_STEP_SUMMARY
          echo '---' >> $GITHUB_STEP_SUMMARY
          echo '' >> $GITHUB_STEP_SUMMARY
      - name: "Read results glob pattern"
        if: always()
        id: read-glob
        shell: bash
        run: |
          file_path="./scripts/reports/glob_android_lint.txt"
          file_content="$(cat $file_path)"
          echo "paths=$file_content" >> "$GITHUB_OUTPUT"
      - name: "Upload results"
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: reports
          path: "${{ steps.read-glob.outputs.paths }}"
          retention-days: 21
