name: "New Internal Release"

on:
  workflow_dispatch:

jobs:
  build-play-store-internal:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: ./.github/actions/setup_gradle
      - uses: ./.github/actions/setup_python
      - uses: ./.github/actions/prepare_disk_space
      - name: "Prepare env"
        run: |
          echo ${{ secrets.KEYSTORE_B64 }} | base64 -d | zcat > androidApp/keyguard-release.keystore
          echo ${{ secrets.KEYSTORE_PROPS_B64 }} | base64 -d | zcat > androidApp/keyguard-release.properties
          echo ${{ secrets.GOOGLE_SERVICES }} | base64 -d | zcat > androidApp/google-services.json
          echo ${{ secrets.SERVICE_ACCOUNT_B64 }} | base64 -d | zcat > service-account-google.json
          python .github/setup_gradle_properties_release.py tag="d$(date +%Y%m%d)"
      - name: "Prepare version code"
        run: |
          pip install -r .github/scripts/versioning/requirements.txt
          python .github/scripts/versioning/fetch_version.py --package-name com.artemchep.keyguard --credentials service-account-google.json --output play-store-versions.json
          VERSION_CODE=$(jq -r '.next_version_code' play-store-versions.json)
          echo "" >> gradle.properties
          echo "versionCode=$VERSION_CODE" >> gradle.properties
      - uses: ./.github/actions/build_android_licenses
        with:
          build-flavor: "PlayStore"
      - uses: ./.github/actions/build_android_baseline_profiles
        with:
          build-flavor: "PlayStore"
      - name: "Build"
        run: ./gradlew :androidApp:bundlePlayStoreRelease
      - name: 'Upload .aab'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: app-android
          path: |
            androidApp/build/outputs/bundle/playStoreRelease/androidApp-playStore-release.aab
          retention-days: 7
      - name: "Distribute on Play Store"
        uses: r0adkll/upload-google-play@935ef9c68bb393a8e6116b1575626a7f5be3a7fb
        with:
          serviceAccountJson: service-account-google.json
          packageName: com.artemchep.keyguard
          releaseFiles: androidApp/build/outputs/bundle/playStoreRelease/androidApp-playStore-release.aab
          track: internal
