name: "New APK"

on:
  workflow_dispatch:

jobs:
  build-android-app:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - name: "Set up JDK 21"
        id: setup-java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: "Prepare env"
        run: |
          echo ${{ secrets.KEYSTORE_B64 }} | base64 -d | zcat >> androidApp/keyguard-release.keystore
          echo ${{ secrets.KEYSTORE_PROPS_B64 }} | base64 -d | zcat >> androidApp/keyguard-release.properties
          echo ${{ secrets.GOOGLE_SERVICES }} | base64 -d | zcat >> androidApp/google-services.json
          echo "" >> gradle.properties
          echo "versionRef=$(git rev-parse --short HEAD)" >> gradle.properties
          echo buildkonfig.flavor=release >> gradle.properties
      - name: "Setup Gradle"
        uses: gradle/actions/setup-gradle@v4
        env:
          JAVA_HOME: ${{ steps.setup-java.outputs.path }}
      - name: "Check and Build licenses"
        run: ./gradlew :androidApp:licenseeAndroidNoneRelease
      - name: "Move licenses"
        run: |
          mv -f androidApp/build/reports/licensee/androidNoneRelease/artifacts.json common/src/commonMain/composeResources/files/licenses.json
      - name: "Build"
        run: ./gradlew :androidApp:assembleNoneRelease
      - name: 'Upload .apk'
        uses: actions/upload-artifact@v4
        with:
          name: app-android
          path: |
            androidApp/build/outputs/apk/**/*.apk
            androidApp/build/outputs/mapping/**/mapping.txt
          retention-days: 7
