name: "New APK"

on:
  workflow_dispatch:

jobs:
  build-android-app:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: ./.github/actions/setup_gradle
      - name: "Prepare env"
        run: |
          echo ${{ secrets.KEYSTORE_B64 }} | base64 -d | zcat >> androidApp/keyguard-release.keystore
          echo ${{ secrets.KEYSTORE_PROPS_B64 }} | base64 -d | zcat >> androidApp/keyguard-release.properties
          echo ${{ secrets.GOOGLE_SERVICES }} | base64 -d | zcat >> androidApp/google-services.json
          echo "" >> gradle.properties
          echo "versionRef=$(git rev-parse --short HEAD)" >> gradle.properties
          echo buildkonfig.flavor=release >> gradle.properties
      - uses: ./.github/actions/build_android_licenses
        with:
          build-flavor: "None"
      - name: "Build"
        run: ./gradlew :androidApp:assembleNoneRelease
      - name: 'Upload .apk'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: app-android
          path: |
            androidApp/build/outputs/apk/**/*.apk
            androidApp/build/outputs/mapping/**/mapping.txt
          retention-days: 7
