name: "New Flatpak"

on:
  workflow_dispatch:

jobs:
  # This step can be skipped once the Kotlin Native compiler
  # gains an ability to be run on a Linux ARM64 host:
  # https://kotlinlang.org/docs/native-target-support.html#hosts
  #
  # After that is done you should be able to just run
  # ./gradlew :desktopApp:packageDistributable
  build-linux-lib-native:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          lfs: true
          submodules: recursive
      - uses: ./.github/actions/setup_gradle
      - name: "Build"
        run: ./gradlew :desktopLibNative:linkReleaseSharedLinuxX64 :desktopLibNative:linkReleaseSharedLinuxArm64
      - name: 'Upload .so (x86_64)'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: app-linux-lib-native-x86_64
          path: |
            desktopLibNative/build/bin/linuxX64/releaseShared/libkeyguard.so
      - name: 'Upload .so (aarch64)'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: app-linux-lib-native-aarch64
          path: |
            desktopLibNative/build/bin/linuxArm64/releaseShared/libkeyguard.so
  build-linux-app:
    runs-on: ${{ matrix.runner }}
    needs:
      - build-linux-lib-native
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
            arch: x86_64
          - runner: ubuntu-24.04-arm
            arch: aarch64
    steps:
      - name: "Checkout"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          lfs: true
          submodules: recursive
      - uses: ./.github/actions/setup_gradle
      - uses: ./.github/actions/setup_python
      - name: "Download lib native"
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: app-linux-lib-native-${{ matrix.arch }}
          path: libnative-${{ matrix.arch }}
      - name: "Verify directory structure"
        run: |
          find libnative-${{ matrix.arch }}
      - name: "Move binaries into the libnative directory"
        run: |
          install -D libnative-${{ matrix.arch }}/libkeyguard.so desktopLibNative/build/bin/universal/libkeyguard
      - uses: ./.github/actions/build_desktop_licenses
      - name: "Build"
        run: ./gradlew :desktopApp:packageReleaseDistributable -x :desktopLibNative:linkReleaseSharedUniversal
      - name: 'Upload .tar'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: app-linux-${{ matrix.arch }}
          path: |
            desktopApp/build/distributions/*.tar.gz
      - name: "Move binaries into the template directory"
        run: |
          mkdir -p desktopApp/flatpak/app-${{ matrix.arch }}/
          tar -xvzf $(find . -type f -regex '\./desktopApp/build/distributions/.*\.tar.gz') -C desktopApp/flatpak/app-${{ matrix.arch }}/ --strip-components=1
      - name: "Get Flatpak runtime version -install dependencies"
        run: pip install -r .github/get_flatpak_runtime_version.requirements.txt
      - name: "Get Flatpak runtime version"
        id: get-flatpak-runtime-version
        run: echo "version=$(python .github/get_flatpak_runtime_version.py desktopApp/flatpak/com.artemchep.keyguard.yml)" >> $GITHUB_OUTPUT
      - name: "Setup Flatpak"
        run: |
          sudo apt-get update
          sudo apt install flatpak flatpak-builder
          flatpak remote-add --if-not-exists --user flathub https://dl.flathub.org/repo/flathub.flatpakrepo
          flatpak install flathub org.freedesktop.Platform//${{ steps.get-flatpak-runtime-version.outputs.version }} org.freedesktop.Sdk//${{ steps.get-flatpak-runtime-version.outputs.version }} -y
      - name: "Build"
        working-directory: desktopApp/flatpak/
        run: |
          flatpak-builder --force-clean --state-dir=build/flatpak-builder --repo=build/flatpak-repo build/flatpak-target com.artemchep.keyguard.yml
          flatpak build-bundle build/flatpak-repo "Keyguard-$(find ../build/distributions -type f -name '*.tar.gz' | sed -E 's/.*-([0-9]+\.[0-9]+\.[0-9]+)-.*/\1/')-${{ matrix.arch }}.flatpak" com.artemchep.keyguard
      - name: 'Upload .flatpak'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: app-linux-flatpak-${{ matrix.arch }}
          path: |
            desktopApp/flatpak/Keyguard-*.flatpak
