name: "⬆️ GitHub release -> Flathub deployment"

on:
  workflow_dispatch:
    inputs:
      version-semantic:
        description: 'Semantic version of the release'
        required: true

jobs:
  new-update:
    name: Deploy Flathub
    runs-on: ubuntu-slim
    steps:
      - name: "Create a trigger issue"
        env:
          GH_TOKEN: ${{ secrets.DEPLOY_FLATHUB_GITHUB_TOKEN }}
          TARGET_REPO: "AChep/keyguard-repo-flathub-util"
          ISSUE_TITLE: "Publish release ${{ inputs.version-semantic }} on Flathub"
          ISSUE_LABEL: "new-release"
        run: |
          EXISTING_ISSUE=$(gh issue list \
            --repo "$TARGET_REPO" \
            --search "$ISSUE_TITLE in:title state:open" \
            --json url \
            --jq '.[0].url')
          if [ -z "$EXISTING_ISSUE" ]; then
            echo "Creating new issue..."
            
            gh issue create \
              --repo "$TARGET_REPO" \
              --title "$ISSUE_TITLE" \
              --label "$ISSUE_LABEL" \
              --body "This issue was automatically created by a workflow in keyguard-app."
              
            echo "Issue created successfully."
          else
            echo "Issue skipped:"
            echo "$EXISTING_ISSUE"
          fi
