<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Keyguard</vendor>
  <vendor_url>https://github.com/AChep/keyguard-app</vendor_url>
  <icon_name>com.artemchep.keyguard</icon_name>

  <action id="com.artemchep.keyguard.unlock">
    <description>Unlock Keyguard</description>
    <message>Authentication is required to unlock Keyguard</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
  </action>
</policyconfig>
